
:root{
    --main-color:#F9661E
}

body{color: #fff; font-size: 1.6rem; font-family: "Inter", sans-serif; background: #A1C7E0;}
.inner{max-width: 1740px; margin: 0 auto; padding: 0 20px;}




/* banner */
.banner{width: 100%; height: 100%; }
.banner .banner_list ul li{position: relative;}
.banner_list ul li img{ width: 100%; height: 84vh; border-radius: 0 0 50px 50px;}
.banner ul li .banner_txt{position: absolute ; left: 100PX; bottom: 100px; line-height: 1; }
.banner ul li .banner_txt p{font-size: 3.5rem; font-weight: 600; padding-bottom: 10px;text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);}
.banner ul li .banner_txt h3{ font-size: 12rem; font-weight: 900; text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);}

.btn_more{position: fixed; right: 5% ; bottom: 10%; background: var(--main-color); display: block; width: 150px; height: 45px; text-align: center;  font-size: 2.2rem; line-height: 45px; border-radius: 50px; z-index: 20;}


@media(max-width:1200px){
    .banner{margin-bottom: 50px;}
    .banner ul li .banner_txt{position: absolute ; left: 70px; bottom: 70px; line-height: 1; }
    .banner ul li .banner_txt h3 {font-size: 10rem;}
    .banner ul li .banner_txt p{font-size: 3rem;}
}
@media(max-width:800px){
    .banner ul li .banner_txt{position: absolute ; left: 40px; bottom: 40px; line-height: 1; }
    .banner ul li .banner_txt h3 {font-size: 8rem;}
    .banner ul li .banner_txt p{font-size: 2.5rem;}
}
/* exibition */
.exibition{width: 100%; }
.exibition .inner{max-width: 1200px;  margin: 0 auto; }

.exibition .xb{ display: grid; grid-template-columns: 1fr 2fr; gap: 70px; margin: 50px 0; }
.exibition .xb .xb_list{width: 100%; height: 100%; max-height: 300px; border-radius: 30px; overflow: hidden;}
.exibition .xb ul li{width: 100%; }
.exibition .xb ul li img{width: 100%; height: 100%; object-fit: cover; }
.exibition .xb_txt{height: 100%; max-height: 300px;  background: #eee; border-radius: 30px; color: #000;}
.exibition .xb_txt dl{font-size: 1.6rem; padding: 50px;}
.exibition .xb_txt dl dt{font-size: 3rem; padding-bottom: 20px; font-weight: 700;}

.exibition .concert{ display: grid; grid-template-columns: 2fr 1fr; gap: 70px; height: auto; }
.exibition .concert .concert_list{border-radius: 30px; width: 100%; height: 100%; max-height: 300px; overflow: hidden;}
.exibition .concert .concert_list ul li {width: 100%;}
.exibition .concert ul li img{width: 100%; height: 100%; object-fit: cover; }
.exibition .concert_txt{height: 100%; max-height: 300px; background:#eee;border-radius: 30px; color: #000; }
.exibition .concert_txt dl{ font-size: 1.6rem; padding: 50px;text-align: right;}
.exibition .concert_txt dl dt{font-size: 3rem; padding-bottom: 20px; font-weight: 700; }

@media(max-width:1200px){
    .exibition .xb{grid-template-columns: 1fr; max-width: 80%; margin: 0 auto 100px;}
    .exibition .xb_txt dl dt{font-size: 2.5rem; padding-bottom: 10px;}
    .exibition .concert{ grid-template-columns: 1fr; max-width: 80%; margin: 0 auto 100px; }
    .exibition .concert_txt{order: 2; max-height: 450px; }
    
    .exibition .concert_txt dl{ text-align: left;}
    .exibition .concert .concert_txt dl dt{font-size: 2.5rem; padding-bottom: 10px;}
}

.exibition .more{ color: #000; ; margin-top: 30px;border-radius: 50px; padding:  5px 15px ; transition: all 0.5s;cursor: pointer;background: #0099DD;}
.exibition .more:hover{ padding: 5px 30px;  }


/* picture */
.picture {  height: 100vh; margin-top: 50px; color: #000;   }
.picture .inner{ display:grid;grid-template-columns: 600px auto; margin: 0 auto;}
.picture .inner h2{font-size: 5rem; padding-left: 100px;}

.picture .review_list{ display: flex; gap: 50px; width: 100%; height: 100px; margin: 30px auto; }
.picture .review_list strong{ text-align: center; padding: 20px 0; font-size: 1.8rem; font-weight: 400;}
.picture .review_list strong span{display: block; color: #FF9933 ;  width: 100px; padding:2px 0 ; }
.picture .review_list ul li{display: flex; height: 100%; gap: 30px; align-items: center; border-left: solid 1px #FF9933 ; padding-left: 60px; }
.picture .review_list ul li p{font-size: 1.6rem;}

.picture .review_img_list{margin-top: 50px;}
.picture .review_img_list .swiper-wrapper{ height: 250px;transition-timing-function: linear !important;}
.picture .review_img_list li img{border-radius: 20px;height: 100%;  width: 100%; object-fit: cover;}

.picture .review_video_list .swiper-wrapper{height: 250px;transition-timing-function: linear !important; margin-top: 30px;}
.picture .review_video_list li video{border-radius: 20px;height: 100%;  width: 100%; object-fit: cover;}



.ticket{width: 100%;}
.ticket .inner{position: relative;  max-width: 1300px; margin: 0 auto; margin-top:100px ; }
.ticket .inner ul{display: flex;   overflow: hidden;  border-radius: 30px;}
.ticket .inner ul li{position: relative; width: 100%; }
.ticket .inner ul li:hover{transition: all 0.5s;}
.ticket .inner ul li img{width: 100%;}
.ticket .ticket_txt{ transform: translateY(91%); position: absolute; left: 0; top: 0; width: 100%;height: 100%; padding-top: 15px;text-align: center; background:#0099DD;  border-radius: 50px 50px 0 0 ;}
.ticket .ticket_txt:hover{transform: translate(0%); background: rgba(0, 0, 0, 0.5);backdrop-filter: blur(20px); transition: all 1s; padding-top: 100px; border-radius: 30px 30px 0 0 ; color: #fff }
.ticket .ticket_txt:hover h3{font-size: 2rem; font-weight: 500; transition: all 0.5s;}

.ticket .ticket_txt .ticket_img{position: relative; width: 80%; margin: 30px auto ;  }
.ticket .ticket_txt .ticket_img video{width: 100%; border-radius: 10px;}
.ticket .ticket_txt .ticket_img img{width: 100%; border-radius: 10px;}
.ticket .ticket_txt h3{font-weight: 400;}
.ticket .ticket_txt p{width: 75%; margin: 0 auto; font-weight: 600;}
.ticket .ticket_txt .ticket_img p span{font-size: 2rem; font-weight: 900;}
.ticket .ticket_txt .ticket_img p:nth-of-type(1){position: absolute;  top: -10px; right: -10px; background: #A1C7E0; color: #000; padding: 10px; line-height: 1.2; width: auto; border-radius: 2px; box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);}
.ticket .btn_buy{margin: 40px 0px ; border-radius: 30px; padding: 5px 15px;  transition: all 0.5s; font-size: 2rem;cursor: pointer;background:#FF9933; padding: 5px 30px; font-weight: 700;}
.ticket .btn_buy:hover{background: #000; color: #fff; }




/* news */
.news {width: 100%;overflow: hidden;}
.news  video {position: relative;width: 100%;height: 100%;}
.news .subscribe {position: absolute;left: 50%;bottom: 35%;transform: translate(-50%);text-align: left; background: rgba(0, 0, 0, 0.4); border-radius: 20px;padding: 50px;}
.news  .subscribe h3 {font-size: 4rem;text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);opacity: 0.9;padding: 5px 20px;margin-bottom: 20px;}
.news  .subscribe input[type="text"] {background: rgba(0, 0, 0, 0.5);padding: 10px 20px;color: #fff;outline: none;width: 100%;margin: 10px 0 ; border-radius: 10px;}
.news  .subscribe input[type="text"]::placeholder {color: rgba(255, 255, 255, 0.6);}
.news  .subscribe input[type="submit"] {background: #FF9933;display: block;color: #000;padding: 10px;cursor: pointer;width: 100%;border-radius: 20px; margin: 20px auto 0; font-weight: 600; font-size: 1.8rem;}



#fp-nav{position: fixed; }
#fp-nav ul {background: rgba(255, 255, 255, 0.5); border-radius: 50px;padding: 50px 0; margin-left: 30px;}
#fp-nav ul li{padding: 10px 0;}